exportPattern("^[[:alpha:]]+")
exportMethods(
    "evaluator",
    "getMissRate",
    "getSize",
    "impute",
    "checkObj",
    "show" 
)
exportClasses(
    "IMPData",
     "MVData",
     "TEData" 
)
